<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="app" type="Application" factoryName="Application">
    <option name="MAIN_CLASS_NAME" value="app.TeamLongestPeriodMain" />
    <module name="untitled104" />
    <RunnerSettings RunnerId="Run" />
    <ConfigurationWrapper RunnerId="Run" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>